<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto shadow p-4 bg-white rounded">
      <h2 class="mb-4">グループ情報編集</h2>

      <%= form_with model: @group, local: true do |f| %>
        <%= render 'public/shared/error_messages', obj: @group %>
        <div class="form-group mb-3">
          <%= f.label :genre_id, "ジャンル" %>
          <%= f.collection_select :genre_id, @genres, :id, :name, {}, { class: "form-control" } %>
        </div>

        <div class="form-group mb-3">
          <%= f.label :name, "グループ名" %>
          <%= f.text_field :name, class: "form-control", placeholder: "グループ名を入力" %>
        </div>

        <div class="form-group mb-4">
          <%= f.label :description, "グループ紹介文" %>
          <%= f.text_area :description, class: "form-control", rows: 5, placeholder: "グループ説明文を入力" %>
        </div>

        <div class="text-center d-flex justify-content-around">
          <%= link_to '戻る', group_path(@group), class: "btn btn-outline-secondary px-4" %>
          <%= f.submit "変更を保存する", class: "btn btn-primary px-4" %>
          <%= link_to 'グループを削除', group_path(@group), method: :delete, data: { confirm: "グループを削除すると元に戻せません。本当に削除しますか？" }, class: "btn btn-danger ml-1 mr-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>