<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <% if current_user.guest_user? %>
        <div class="card border-info mb-3 shadow-sm">
          <div class="card-body">
            <p class="card-text small text-muted">
              投稿機能を利用するには、新規登録またはログインを行ってください。
            </p>
          </div>
        </div>
      <% else %>
        <h3>新規投稿</h3>
        <%= form_with model: @post, url: posts_path, local: true do |f| %>
          <%= render 'public/shared/error_messages', obj: @post %>

          <div class="form-group mb-3">
            <%= f.label :image, "投稿画像" %>
            <%= f.file_field :image, accept: 'image/jpeg,image/jpg', class: "form-control-file" %>
          </div>
          <div class="form-group mb-3">
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group mb-3">
            <%= f.label :body, "本文" %>
            <%= f.text_area :body, class: "form-control", rows: 5 %>
          </div>
          <div class="form-group">
            <%= f.label :address, "スポットの場所・住所を入力" %>
            <%= f.text_field :address, class: "form-control", placeholder: "場所を入力してください" %>
          </div>
          <%= f.submit "新規投稿", class: "btn btn-success w-100" %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-9">
      <h3>投稿一覧</h3>
      <table class="table table-hover shadow-sm align-middle">
        <thead class="table-light">
          <tr>
            <th>画像</th>
            <th>タイトル</th>
            <th>本文</th>
            <th>投稿者</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td style="width: 120px;">
                <% if post.image.attached? %>
                  <%= image_tag post.image.variant(resize_to_limit: [100, 100]).processed, class: "img-thumbnail" %>
                <% else %>
                  <div class="bg-light text-center py-3 text-muted" style="font-size: 0.7rem; width: 100px;">No Image</div>
                <% end %>
              </td>
              <td class="fw-bold">
                <%= link_to post.title, post_path(post) %>
                <div class="d-flex">
                    <%= render "public/favorites/btn", post: post %>
                  <span class="small  mt-1 ml-2 text-muted font-weight-normal">
                    <i class="far fa-comment"></i> <%= post.post_comments.count %>
                  </span>
                </div>
              </td>
              <td><%= truncate(post.body, length: 30) %></td>
              <td>
                <%= image_tag post.user.get_profile_image(30, 30), class: "rounded-circle me-1" %>
                <%= post.user.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>