<%= form_with model: [@user, @bike], local: true do |f| %>
  
    <div class="form-group mb-3 text-center">
      <%= f.label :image, "サムネイル写真", class: "d-block mb-2" %>
      
      <div id="bike-preview-container" class="<%= 'd-none' unless @bike.image.attached? %> mb-3">
        <% if @bike.image.attached? %>
          <%= image_tag @bike.image.variant(resize_to_limit: [400, 300]).processed, id: "bike-image-preview", class: "img-fluid rounded shadow-sm", style: "max-height: 200px; object-fit: contain;" %>
        <% else %>
          <img id="bike-image-preview" src="" class="img-fluid rounded shadow-sm" style="max-height: 200px; object-fit: contain;">
        <% end %>
      </div>

      <%= f.file_field :image, accept: 'image/jpeg', id: "bike-image-input", class: "form-control-file d-block mx-auto" %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :maker, "メーカー (必須)" %>
      <%= f.text_field :maker, class: "form-control", required: true %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :name, "モデル名・車種 (必須)" %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :bike_type, "カテゴリー" %>
      <%= f.select :bike_type, Bike.bike_types.keys.map { |k| [t("enums.bike.bike_type.#{k}"), k] }, {}, class: "form-select" %>
    </div>
  
    <div class="form-group mb-4">
      <%= f.label :component, "メインコンポーネント (任意)" %>
      <%= f.text_field :component, class: "form-control", placeholder: "例: Shimano 105" %>
    </div>
  
    <% submit_text = @bike.new_record? ? "ガレージに登録する" : "変更を保存する" %>
    <%= f.submit submit_text, class: "btn btn-success w-100" %>
  
  <% end %>